@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.simpleline{
        color: white;
        
}
.ignite{
        background-image: url(../assets/clideo_editor_97d7623e6e61460c8a89f106d3f1d2fc.gif);
        background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
        
}
